<div class="jumbotron">
  <h2>Welcome the Payslip Calculator</h2>
  <p class="lead">This app will calculate payslip details based on the details entered.</p>
</div>
<div>
  <%= form_for @conn, payslip_path(@conn, :calculate), [as: :employee], fn f -> %>
    <%= text_input f, :firstname %>
    <%= submit "Calculate" %>
  <% end %>
</div>
